@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #eef9bf;
    color: #75b79e;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

main > h1 {
    margin-top: 40px;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 112px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;
}

.back-face,.front-face {
    position: absolute;
    z-index: 1;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.back-face {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-face > img {
    height: 100px;
    width: 100px;
}

.front-face {
    transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
    display:flex;
    align-items: center;
    justify-content: center;
}

.front-face > img {
    width: 80px;
}

.back-face-flipped {
    transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
}

.front-face-flipped {
    transform: translateX(-50%) translateY(-50%) rotateY(0deg);
}

#clock {
    display: flex;
    align-items: center;
}

#utils {
    font-size: small;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    padding: 0 146px;
    box-sizing: border-box;
    height: 60px;
}

#clock, #time, #game-points {
    height: 30px;
    width: 100%;
}

#time, #game-points {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 572px) {
    body {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    #utils {
        padding: 0 109px;
    }

    #cards {
        justify-content: center;
        padding: 0 109px;
    }

}

@media screen and (max-width: 468px) {

    .card {
        margin-right: 0;
    }
}